@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about-us.css");
@import url("sections/menu.css");
@import url("sections/trending.css");
@import url("sections/subscription.css");
@import url("sections/footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #b1454a;
  --secondary-color: #121212;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;

  background-color: var(--color-creamson);
}
a {
  text-decoration: none;
  color: var(--black-200);
  font-weight: 700;
}

button {
  cursor: pointer;
}
.active {
  background-color: #fff;
  font-weight: 600;
}

.sushi-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
}
.sushi-title {
  font-size: 2.5rem;
  line-height: 45px;
}
.sushi-description {
  font-weight: 400;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
