@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about-us.css");
@import url("sections/menu.css");
@import url("sections/trending.css");
@import url("sections/subscription.css");
@import url("sections/footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}
body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #b1454a;
  --secondary-color: #121212;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;

  background-color: var(--color-creamson);
}
a {
  text-decoration: none;
  color: var(--black-200);
  font-weight: 700;
}

button {
  cursor: pointer;
}
.active {
  background-color: #fff;
  font-weight: 600;
}

.sushi-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
}
.sushi-title {
  font-size: 2.5rem;
  line-height: 45px;
}
.sushi-description {
  font-weight: 400;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  /* Header Section */
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: flex;
  }
  /* Popular Section */
  .popular-foods__catalogue {
    flex-direction: column;
  }
  .popular-foods__card {
    min-width: 400px;
    height: 450px;
    gap: 30px;
  }
  .popular-foods__card-image {
    height: 260px;
    width: 260px;
  }
  .active-card {
    margin: 0;
  }
  /* Trending Section */
  .trending__arrow {
    display: none;
  }
  /* Footer Section */
  .footer {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .footer__social {
    gap: 25px;
  }
}
@media (max-width: 800px) {
  /* Header Section */
  .header__logo h4 {
    font-size: 1.255rem;
  }
  /* Hero Section */
  .hero-content__info h1 {
    font-size: 3.5rem;
    line-height: 60px;
  }
  .hero-content__info p {
    font-size: 1.15rem;
  }
  .hero-content__order-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
  .hero-content__play-button {
    font-size: 1.1rem;
  }
  .hero-content__play-button img {
    height: 45px;
    width: 45px;
  }
  .hero-content__customer h4 {
    font-size: 2.5rem;
  }
  .hero-content__customer p {
    font-size: 0.75rem;
  }
  .hero-content__review img {
    height: 55px;
    width: 55px;
  }
  .hero-content__review p {
    font-size: 0.85rem;
  }

  /* About Us Section */
  .sushi-subtitle {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .sushi-title {
    font-size: 2.25rem;
    line-height: 45px;
  }
  .sushi-description {
    font-size: 1rem;
  }
  .about-us__button {
    padding: 1rem;
    font-size: 1.15rem;
  }
  .about-us__button img {
    width: 12px;
    height: 12px;
    margin-bottom: 6px;
  }
  /* Menu Section */
  .popular-foods__filter-btn {
    gap: 5px;
    padding: 0.7rem 1.25rem;
    border-radius: 50px;
    font-size: 1.125rem;
  }
  .popular-foods__filter-btn img {
    width: 35px;
    height: 35px;
  }
  /* Trending Section */

  .trending__list p {
    font-size: 1.15rem;
  }
  .trending__discover {
    display: none;
  }

  .trending__list {
    gap: 14px;
    margin-top: 15px;
  }
  /* Subscription Section */
  .subscription h2 {
    font-size: 70px;
    line-height: 90px;
  }
  .subscription p {
    font-size: 20px;
  }
}

@media (min-width: 425px) and (max-width: 800px) {
  * {
    outline: 1px solid red;
  }
  /* Header Section */
  .header__logo h4 {
    font-size: 1rem;
    color: var(--primary-color);
  }
  .header__menu-mobile li img {
    height: 32px;
    width: 32px;
  }
  .header__logo-overlay,
  .hero-image__overlay {
    width: 20px;
  }
  /* Hero Section */
  .hero-image {
    flex: 0;
  }
  .hero-content {
    flex: 1;
    padding-left: 20px;
  }
  .hero-content__info h1 {
    font-size: 3rem;
    line-height: 50px;
  }
  .hero-content__info p {
    font-size: 1rem;
  }
  .hero-content__buttons {
    margin-top: 10px;
  }
  .hero-content__order-button {
    padding: 1.1rem 1.5rem;
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .hero-content__play-button {
    gap: 10px;
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .hero-content__play-button img {
    height: 45px;
    width: 45px;
  }
  .hero-content__testimonial {
    padding: 2rem 1rem;
    gap: 10px;
  }
  .hero-content__customer h4 {
    font-size: 2.25rem;
  }

  .hero-content__customer p {
    font-size: 0.75rem;
  }
  .hero-content__review img {
    height: 45px;
    width: 45px;
  }
  .hero-content__review p {
    font-size: 0.85rem;
  }
}
