@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about-us.css");
@import url("sections/menu.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #b1454a;
  --secondary-color: #121212;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;

  background-color: var(--color-creamson);
}
a {
  text-decoration: none;
  color: var(--black-200);
  font-weight: 700;
}

button {
  cursor: pointer;
}
