.about-us {
  display: flex;
  overflow: hidden;
}
.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  height: fit-content;
}
.about-us__image div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  background-size: contain;
  background-position: center;
}
.about-us__image-1 {
  border-bottom: 3px solid var(--color-creamson);
}
.about-us__image-1 img {
  width: 240px;
  height: 210px;
  object-fit: contain;
}
.about-us__image-2 img {
  width: 240px;
  height: 160px;
  object-fit: contain;
}
.about-us__button {
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.6rem;
  width: fit-content;
  border-radius: 32px 0 0 32px;
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: 500;
  font-size: 1.25rem;
}
.about-us__button img {
  width: 14px;
  height: 14px;
  object-fit: cover;
  margin-bottom: 6px;
}
.about-us__content {
  flex: 1.2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.about-us__content p,
.about-us__content h3 {
  margin: 0 1rem;
}
