/* * {
  outline: 1px solid red;
} */
.footer {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 20px 40px;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 50px;
}
.footer__logo {
  font-size: 24px;
  font-weight: 700;
}
.footer__logo span {
  color: var(--primary-color);
  cursor: pointer;
}

.footer__nav,
.footer__social {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 64px;
  flex-wrap: wrap;
}

.footer__nav li {
  text-transform: uppercase;
}
.footer__nav li a {
  transition: all 0.3s ease-in;
  /* text-underline-offset: 10px; */
}
.footer__nav li a:hover {
  color: rgba(27, 27, 27, 0.868);
  /* text-decoration: underline; */
  /* list-style-type: disc; */
}

.footer__social li {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.footer__social li:hover {
  background-color: rgb(61, 60, 60);
  transform: translateY(-5px);
}

.footer__social li img {
  height: 45%;
  width: 45%;
  object-fit: contain;
}
