.header__nav {
  display: flex;
  overflow: hidden;
  min-height: 74px;
  position: relative;
}
.header__logo {
  flex: 1;
  display: flex;
  z-index: 1;
  position: relative;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 2rem;

  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;
}
.header__menu,
.header__menu-mobile {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.header__menu li {
  list-style: none;
  margin: 0 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
}
.header__menu li a {
  transition: all 0.3s ease-in;
}
.header__menu li a:hover {
  color: rgba(29, 29, 29, 0.7);
}
.header__menu-mobile {
  display: none;

  position: relative;
}
.header__menu-mobile li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
}
.header__menu-mobile li img {
  background-size: cover;
  height: 40px;
  width: 40px;
}

.header__menu li img {
  background-size: cover;
  height: 24px;
  width: 24px;
}
.header__menu-mobile-dropdown {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  z-index: 999;
  background-color: #171717;
  width: 100%;
  height: 100%;
}
.header__menu-mobile-dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header__menu-mobile-dropdown li {
  list-style: none;
}
.header__menu-mobile-dropdown li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  transition: all 0.3s ease-in;
}
.header__menu-mobile-dropdown li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.close-dropdown {
  height: 45px;
  width: 90px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  background-color: #f4efef;

  transition: all 0.5s ease-in;
}
.close-dropdown:hover {
  background-color: #efefef;
}
.show-dropdown {
  display: flex;
  justify-content: space-between;
}
.hide-dropdown {
  display: none;
}
.show-search,
.header__menu-search {
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  background-color: var(--primary-color);
}
.header__menu-search-form {
  min-width: 500px;
  display: flex;
  gap: 10px;
}
.header__menu-search-form input {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
}
.header__menu-search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  border-radius: 100%;
  border: none;
  background-color: #111;
  transition: all 0.3s ease-in;
}
.header__menu-search-form button:hover {
  background-color: rgba(40, 39, 39, 0.9);
}
.header__menu-search-form button img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.close-search {
  height: 100%;
  width: 70px;
  position: absolute;
  right: 0;
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: #efefef;
  transition: all 0.3s ease-in;
}
.close-search:hover {
  transform: scale(1.2);
}
.hide-search {
  display: none;
}
