/* * {
  outline: 1px solid red;
} */
.header__nav {
  display: flex;
  overflow: hidden;
}
.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}
.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 45%;
  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  flex: 1;
  padding-left: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.header__menu,
.header__menu-mobile {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  text-transform: uppercase;
  text-wrap: nowrap;
  /* margin: 0 1rem; */
}
.header__menu-mobile {
  display: none;
  position: relative;
  padding: 20px;
}

.header__menu li img {
  background-size: cover;
  height: 24px;
  width: 24px;
}
